* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bs-dark-color: #212224;
  --bs-dark-primary: #181616;
  --bs-main-color: #fff;
  --bs-primary-color: #c6c6c6;
  --bs-secondary-color: #29a9fd;
  --bs-supporting-color: #c850c0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lexend Deca" sans-serif;
  color: black;
}
h5 {
  font-family: "Lexend Deca" sans-serif;
  color: black;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
}
p {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.07rem;
  line-height: 1.55rem;
  font-synthesis: none;
  text-rendering: optimizeSpeed;
  color: var(--bs-dark-primary);
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}

/* ------------------------FOR NAVBAR----- */
.background-color {
  background-color: #cfdee7 !important;
  box-shadow: 0 8px 24px gray;
}
.nav-link {
  color: var(--bs-dark-primary);
  font-weight: 400;
}
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(image/hotel.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header-height {
  height: 80vh;
}
.header .container {
  display: grid;
  height: inherit;
  place-content: center;
}
.header-img {
  border-radius: 20px;
  max-width: 100%;
  width: 90%;
}

/* -------IMage------------- */
.round_img div img {
  border-radius: 10px;
}
.rowheight {
  /* width: 0.75rem; */
}
.rowheight {
  --bs-gutter-x: 0.5rem;
  --bs-gutter-y: 0;
}
.linespace {
  line-height: 2rem;
}

/* room detail */
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
.small-img {
  flex-basis: 24%;
  gr
}
